*{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.main_header{
    box-sizing: border-box;
    background-color: transparent;
    display: flex; 
    justify-content: space-between;
    list-style: none;
    padding: 0.7rem;
    align-items: center;
    font-family: "Barlow", sans-serif;
    width: 100%;
    position: absolute;
    z-index: 10;
    

}



.logo-tipo{
    padding-top: 10px;
    padding-left: 5px;
}

 
.main-nav-items{
    display: flex;
    color: white;
    align-items: center;
    

    

}

.main-button{
    border: none;
    padding: 0.5rem;
    border-radius: 20px;
    font-family: "Fraunces", serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    

}

.main-nav-item{
    margin-right: 2rem;
    
}
    

.main_display{
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    padding-top: 3rem;
    
    
    
    
    
}
.main_header_title{
    font-family: "Fraunces", serif;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    margin-top: 4rem;

}

.drop_down_arrow{
    width: 50px;
    margin: 0 auto;
    padding-top: 4rem;
     
}

.main_content_container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat( 3, 1fr);

}

.transform_content{
    grid-area: 1/1/2/2;
}

.egg-image{
    grid-area:1/2/1/3;
    
}

.standout_content{
    grid-area: 2/2/3/3;
}

.stand_out_image{
    grid-area:2/1/3/2;
}

.graphic_design_content{
    grid-area: 3/1/4/2;
}


.photography_content{
    grid-area: 3/2/4/3;

}





















.attribution { font-size: 11px; text-align: center; }

    .attribution a { color: hsl(228, 45%, 44%); }